<div class="foot" style="color:white;">

<div class="container-fluid">
 <div class="row">
     <div class="col-lg-4">
         <h3>About us</h3>
     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
     </div>
     <div class="col-lg-4">
         <h3 style="margin-left: 50px;">Important Links</h3>
         <ul class="list-unstyled" style="text-decoration: none;font-size: 20px;margin-left: 50px; ">
             <li><a href="#"><span class="glyphicon glyphicon-home"> About Us</span></a></li>
             <li><a href="#"><span class="glyphicon glyphicon-user"> Testimonials</span></a></li>
             <li><a href="#"><span class="glyphicon glyphicon-home"> Terms of Service</span></a></li>
             <li><a href="#"><span class="glyphicon glyphicon-user"> Privacy</span></a></li>
             <li ><a href="/"><span class="glyphicon glyphicon-phone"> Contact Us</span></a></li>
         </ul>
     </div>

     <div class="col-lg-4">
         <h3>New Jobs</h3>
         <p>Pehle Humko To Mil Jae Fir To Tumko Denge!!! Waise Achha Laga ki Tumne Bharosa Kiya Ki hum Job D Sakte Hai</p>
     </div>
 </div>
</div>

<div class="smallfoot col-lg-4 ">
 <div class="row">
     <h3 style="margin-left:540px; display: inline-block">Register For Free  </h3>
     <input type="button" class="foo_btn" value="Submit"style="display: inline-block">
</div>
</div>
<br><br><br>
<br>
<div class="xfoot col-lg-4 ">
 <div style="margin-left: 500px">
 <a href="#" class="fa fa-facebook"></a>
 <a href="#" class="fa fa-twitter"></a>
 <a href="#" class="fa fa-instagram"></a>

 </div>
</div>
</div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</body>

</html>
